h5 {
    background-color: darkmagenta;
    padding: 20px;
    margin: 0;
    position: absolute;
    bottom: 0px;
    width: -webkit-fill-available;
    text-align: center;
    margin-right: 5px;
    color: white;
}
 